<div id="forms" class="page-layout simple fullwidth" fxLayout="column">    
    <!-- CONTENT -->
    <div class="content p-24">
        <div class="h1">
                KPI de Clientes
        </div>
        <div style="padding-top: 10px;">
        </div>      
        <div class="h2">
                Promedio
        </div>
        <p class="pt-16 pb-32">
            <span>{{kpiCliente.promedio}}</span>
        </p>              
        <div class="h2">
                Desviacion Standar
        </div>
        <p class="pt-16 pb-32">
            <span>{{kpiCliente.desviacionStandar}}</span>            
        </p>                      
    </div>
</div>