<div id="forms" class="page-layout simple fullwidth" fxLayout="column">    
    <!-- CONTENT -->
    <div class="content p-24">
        <div class="h1">
                Lista de Clientes
        </div>
        <div style="padding-top: 10px;">
        </div>            
        <div class="mat-elevation-z8" style="width: 100%;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
            
                <!-- Apellido Column -->
                <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>
            
                <!-- Edad Column -->
                <ng-container matColumnDef="edad">
                <th mat-header-cell *matHeaderCellDef> Edad </th>
                <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
                </ng-container>
        
                <!-- Fecha Nacimiento Column -->
                <ng-container matColumnDef="fechaNacimiento">
                <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
                </ng-container>
            
                <!-- Fecha Probable Muerte Column -->
                <ng-container matColumnDef="fechaProbableMuerte">
                <th mat-header-cell *matHeaderCellDef> Fecha Probable Muerte </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaProbableMuerte}} </td>
                </ng-container>  
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="dataSource.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>            
    </div>
</div>

